<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/result.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="icon" href="/assets/ymca.jpg" type = "image/x-icon">
  <title>Result</title>
</head>

<body>
  
  <div class="horizon">
    <div class="topnav">
      <form action = "/route/search" method = "Post">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit" name = "searchbar" ><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class="profile">
      <a href="/route/home"><i class='fa fa-user-circle'></i></a>
    </div>
  </div>
  <input type="checkbox" id="check" checked = "checked">
  <label for="check">
    <i class="fa fa-bars" id="bar"></i>
  </label>
  <div class="top">
    <header>My Information</header>
    <div class="items">
      <ul>
        <li style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><a href="/route/home"><i class='fa fa-user'></i>Dashboard</a></li>
        <li style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><a href="/route/attendence"><i class="fa fa-pencil-square"></i>Attendence</a></li>
        <li style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><a href="/route/fees"><i class='fa fa-money'></i>Fees</a></li>
        <li style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><a href="/route/result"><i class="fa fa-line-chart"></i>Result</a></li>
        <li style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><a href="/route/education"><i class='fa fa-graduation-cap'></i>Education</a></li>
        <li style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><a href="/route/home"><i class='fa fa-home'></i>Home</a></li>
        <li style="font-family: sans-serif;"> <a href="/route/signout"><i class="fa fa-paper-plane"></i>Log Out</a></li>
      </ul>
    </div>
  </div>
    <center>
    <h1 style="color: rgb(255, 255, 255);">
      Result
    </h1>
    <div class="middle">
    <form action = "/route/imge" method = "Post">
      <label style="color: rgb(0, 0, 0);">Roll No</label>&nbsp;&ensp;&ensp;
      <input type="number" name = "rrr" placeholder="All the best!">
      <br>
    <br>
      <label style="color: rgb(0, 0, 0);">Select Semester &ensp;</label>
   <select name="session" class="session" >
     <option  value="Select sem" class="select2">Select Semester </option>
   <option  value="s1" class="select2">1</option>
   <option  value="s2" class="select2">2</option>
   <option  value="s3" class="select2">3</option>
   <option  value="s4" class="select2">4</option>
   <option  value="s5" class="select2">5</option>
   <option  value="s6" class="select2">6</option>
   <option  value="s7" class="select2">7</option>
   <option  value="s8" class="select2">8</option>
   </select>
   <br>
   <br>
    <br>
   <button class="res"><b style="color: rgb(255, 255, 255);">Show Result</b></button>
  </center>
</form>
  </div>
</body> -->
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
    <link rel="stylesheet" href="/static/sttylesheet.css">
    <link rel="icon" href="/assets/ymca.jpg" type = "image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="header">
        <div class="sidenav">
            <div class="user">
              <img src="/assets/<%= rollx %>.jpg" class="user-dp">
                <div>
                    <h2><%= name %></h2>
                    <p><%= email %></p>
                </div>
                <img src="/assets/star.png" class="star">
            </div>
            <ul>
              <a href="/route/home"><li><img src="/assets/icons8-computer-64.png" alt=""><p>Dashboard</p></li></a>
              <a href="/route/result"><li><img src="/assets/icons8-result-64.png" alt=""><p>Result</p></li></a>
              <a href="/route/fees"><li><img src="/assets/icons8-fees-64.png" alt=""><p>Fees</p></li></a>
              <a href="/route/project"><li><img src="/assets/icons8-briefcase-64.png" alt=""><p>Projects</p></li></a>
              <a href="/route/attendance"><li><img src="/assets/icons8-attendance-50.png" alt=""><p>Attendance</p></li></a>
              <a href="/route/helpSupport"><li><img src="/assets/icons8-online-support-64.png"><p>Help & Support</p></li></a>
            </ul>
            <ul>
              <a href="/route/signout"><li><img src="/assets/icons8-logout-50.png" alt=""><p>Logout</p></li></a>
            </ul>
        </div>
        <div class="content">
          <center>
            <h1>
              Result
            </h1>
            <hr>
            <br><br>
            <div class="middle">
            <form action = "/route/imge" method = "Post">
              <label>Roll No:</label>&ensp;
              <input type="number" name = "rrr" placeholder="All the best!" required>
              <br>
            <br>
              <label>Select Semester: &ensp;&ensp;&ensp;</label>
           <select name="session" class="session" required>
             <option  value="" class="select2" disabled selected>---- </option>
           <option  value="s1" class="select2">1</option>
           <option  value="s2" class="select2">2</option>
           <option  value="s3" class="select2">3</option>
           <option  value="s4" class="select2">4</option>
           <option  value="s5" class="select2">5</option>
           <option  value="s6" class="select2">6</option>
           <option  value="s7" class="select2">7</option>
           <option  value="s8" class="select2">8</option>
           </select>
           <br>
           <br>
            <br>
           <button class="result_button">Show Result</button>
          </form>
        </center>
        </div>
    </div>
</body>
</html>