<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Forgot Password</title>
    <link rel="icon" href="/assets/ymca.jpg"  type = "image/x-icon">

</head>
<body>
    <div class="full">
    <center>
    <div class = "head">
    <img src="/assets/ymca.jpg"  alt="logo" width="150px" height="150px" class="logo">
    <p><strong>Enter your credentials:</strong></p>
    </div>
    <div class = "form">
    <form action="/route/upass" method="post">
        <i class="fa fa-envelope"></i>
        <input type="password" name="pass" id="1" align = "middle" placeholder="Enter New Password" class = "email" >
        <br>
        <br>
        <br>
        <button type="submit" class="Login">Update Password</button>
    </form>
    </div>
    </center>
    </div>
</body>
</html>